#offert
  %img.offert{:src => "offer.png"}/
  .content_numbers
    %p= locals[:offer_number] || '0000000'
    %p= locals[:offer_date] || '2017-01-01'
    %p= locals[:offer_due_date] || '2017-02-01'
  .content_orderer
    %p.kerning BESTÄLLARE
    %p= locals[:company_name] || 'Företag AB'
    %p= locals[:company_adress] || 'Gata 1'
    %p= locals[:company_postal] || '123 44 Stockholm'
    %br/
    %br/
    %br/
    %p.kerning ER REFERENS
    %p= locals[:company_reference] || 'Random Person'
    %p= locals[:company_reference_phone] || '+46 11111 22 33'
    %p= locals[:company_reference_mail] || 'person@foretag.se'
  .content_supplier
    %p.kerning LEVERANTÖR
    %p Konglig Datasektionen
    %p Att: Studs 2018, Fack vid THS
    %p 100 44 Stockholm
    %p Org. nummer: 802412-7709
    %br/
    %p.kerning VÅR REFERENS
    %p= locals[:our_reference] || 'Studsmedlem'
    %p= locals[:our_reference_phone] || '+46 12345 67 89'
    %p= locals[:our_reference_mail] || 'person@kth.se'
  .content_articles
    %ul
      = locals[:articles]
  .content_totalprice
    = locals[:price] || '120 SEK'
